<h1>Shelters</h1>

<table>
  <thead>
    <tr>
      <th>Sheltername</th>
      <th>Location</th>
      <th>Total Beds</th>
      <th>Open Beds</th>
    </tr>
  </thead>

  <tbody>
    <% @shelters.each do |shelter| %>
      <tr class='shelterrow'>
        <td><%= shelter.name %></td>
        <td><%= shelter.location %></td>
        <td><%= shelter.total_beds %></td>
        <td id=<%= "#{shelter.name}" %>><%= shelter.open_beds %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script>
console.log('hi')
var pubnub = new PubNub({
    subscribeKey: 'sub-c-677de3da-efe8-11e6-87db-0619f8945a4f'
});


pubnub.addListener({
    message: function(message) {
        $('#updateShelter').html(message.message.name)
        $('#updateMe').html(message.message.value)
        $('#' + message.message.name).html(message.message.value)
    }
})

pubnub.subscribe({
    channels: ['tic-tac-toe']
});

</script>


