<h1>Shelters</h1>

<table id='indexTable'>
  <thead>
    <tr>
      <th>Sheltername</th>
      <th>Location</th>
      <th>Total Beds</th>
      <th>Open Beds</th>
    </tr>
  </thead>

  <tbody>
    <% @shelters.each do |shelter| %>
      <tr class='shelterrow'>
        <td><%= shelter.name %></td>
        <td><%= shelter.location %></td>
        <td class='totalBeds center'><%= shelter.total_beds %></td>
        <td id=<%= "#{shelter.id}" %> class='open_beds center'><%= shelter.open_beds %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: 37.47, lng: -122.25};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAPS']%>&callback=initMap">
    </script>

<script>

var pubnub = new PubNub({
    subscribeKey: <%= ENV['PUBNUB_SUB'] %>
});


pubnub.addListener({
    message: function(message) {
      var td = $('#' + message.message.name)
        td.html(message.message.value)
        td.addClass('tdAnimateClass')
        setTimeout(function(){
          td.removeClass('tdAnimateClass')
        }, 3000)
        styleRows()
    }
})

var styleRows = function() {
  var rows = $('.shelterrow')
  for (var i = 0; i < rows.length; i++){
    var total = $(rows[i]).children('.totalBeds')[0]
    total = $(total).text()
    var avail = $(rows[i]).children('.open_beds')[0]
    avail = $(avail).text()
    if (+avail >= 10){
      $(rows[i]).css('color', 'green')
    } else {
      $(rows[i]).css('color', 'red')
    }
  }
}

styleRows()

pubnub.subscribe({
    channels: ['tic-tac-toe']
});

</script>


