<h1>Shelters</h1>

<table id='indexTable' cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Sheltername</th>
      <th>Location</th>
      <th>Total Beds</th>
      <th>Open Beds</th>
    </tr>
  </thead>

  <tbody>
    <% @shelters.each do |shelter| %>
      <tr class='shelterrow indexRow'>
        <td><%= shelter.letter %></td>
        <td><%= shelter.name %></td>
        <td><%= shelter.location %></td>
        <td class='totalBeds center'><%= shelter.total_beds %></td>
        <td id=<%= "#{shelter.id}" %> class='open_beds center'><%= shelter.open_beds %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
    <div id="map"></div>
    <script>

      $.ajax({
        url: "/gmarkers",
        type: "get"
      })
      .done(function(response){
        console.log(response)
        response.forEach(function(item) {
          var mark = new google.maps.Marker(
            {
              position:{
                lat:item.lat,
                lng:item.lon
              },
              label: item.letter,
              map:map
            })
        });
      })
      .fail(function(error) {
        console.log(error)
      });

      // var gmarkerPromise = new Promise(function(resolve, reject){
      //   // going
      //   resolve();

      //   // error
      //   reject();
      // });

      // gmarkers
      // .then(function() {
      //   //
      //   throw new Error();
      //   return;
      // })
      // .then(function() {

      // })
      // .catch(function(error) {

      // })


      var map;

      function initMap() {
        var uluru = {lat: 37.784517, lng: -122.405};
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: uluru
        });

        // var marker = new google.maps.Marker({
        //   position: uluru,
        //   map: map
        // });

        // var marker2 = new google.maps.Marker({

        // });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAPS']%>&callback=initMap">
    </script>

<script>

var subKey;

var request = $.ajax({
  url: '/subKey',
  type: 'get'
})
request.done(function(r){

})
request.fail(function(r){
   subKey = r.responseText

  var pubnub = new PubNub({
      subscribeKey: subKey
  });

  pubnub.addListener({
      message: function(message) {
        var td = $('#' + message.message.name)
          td.html(message.message.value)
          var parent = td.parent()
          if (message.message.value >= 10){
            parent.addClass('tdAnimateGreen')
            setTimeout(function(){
              parent.removeClass('tdAnimateGreen')
            }, 3000)
          } else {
            parent.addClass('tdAnimateRed')
            setTimeout(function(){
              parent.removeClass('tdAnimateRed')
            }, 3000)
          }
          styleRows()
      }
  })

  var styleRows = function() {
    var rows = $('.shelterrow')
    for (var i = 0; i < rows.length; i++){
      var total = $(rows[i]).children('.totalBeds')[0]
      total = $(total).text()
      var avail = $(rows[i]).children('.open_beds')[0]
      avail = $(avail).text()
      if (+avail >= 10){
        $(rows[i]).css('background', '#62ef77')
      } else {
        $(rows[i]).css('background', '#f75d4c')
      }
    }
  }

  styleRows()

  pubnub.subscribe({
      channels: ['tic-tac-toe']
  });

})

</script>
