<%= link_to 'To Kitchens', kitchen_index_path %>


<script>
  $('#change-beds').on('click', function(e){

  })
</script>

<div class="info">
<h1  class="title">Shelters</h1>
  <table id='indexTable' cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th></th>
        <th>Shelter Name</th>
        <th>Location</th>
        <th>Total Beds</th>
        <th>Open Beds</th>
      </tr>
    </thead>

    <tbody>
      <% count = 0 %>
      <% @shelters.each do |shelter| %>
        <tr class='shelterrow indexRow' id=<%= "row#{shelter.id}" %>>
          <td><img src='<%= shelter.symbol %>'></img></td>
          <td>  &nbsp;&nbsp; <%= shelter.name %></td>
          <td><%= shelter.location %></td>

          <td class='totalBeds center'><%= shelter.total_beds %></td>
          <td id=<%= "#{shelter.id}" %> class='open_beds center'><%= shelter.open_beds %></td>
        </tr>
        <tr>
          <td colspan ="4">
            <div id = "directions<%= +count.to_s%>"></div>
            <% count+=1 %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
    <div id="map"></div>
    <script>

      var map;

      function initMap() {
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var directionsService = new google.maps.DirectionsService;
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: {lat: 37.78784517, lng: -122.405}
        });
        calculateAndDisplayRoute(directionsService, directionsDisplay, "150GoldenGateAve", 'directions0');
        initMap2();
      }
      function initMap2() {
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var directionsService = new google.maps.DirectionsService;
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: {lat: 37.78784517, lng: -122.405}
        });
        calculateAndDisplayRoute(directionsService, directionsDisplay, "237KearnySt", 'directions1');
        initMap3();
      }
      function initMap3() {
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var directionsService = new google.maps.DirectionsService;
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: {lat: 37.78784517, lng: -122.405}
        });
        calculateAndDisplayRoute(directionsService, directionsDisplay, "525FifththSt", 'directions2');
        initMap4();
      }
      function initMap4() {
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var directionsService = new google.maps.DirectionsService;
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: {lat: 37.78784517, lng: -122.405}
        });
        calculateAndDisplayRoute(directionsService, directionsDisplay, "165EighththSt", 'directions3');
        initMap5();
      }
      function initMap5() {
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var directionsService = new google.maps.DirectionsService;
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: {lat: 37.78784517, lng: -122.405}
        });
        calculateAndDisplayRoute(directionsService, directionsDisplay, "126HydeSt", 'directions4');
        initMap6();
      }
      function initMap6() {
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var directionsService = new google.maps.DirectionsService;
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: {lat: 37.78784517, lng: -122.405}
        });
        calculateAndDisplayRoute(directionsService, directionsDisplay, "701SutterSt", 'directions5');
              $.ajax({
        url: "/gmarkers",
        type: "get"
      })
      .done(function(response){
        window.databaseInfo = response
        var currentLocation = new google.maps.Marker({
          position:{
            lat: 37.784517,
            lng: -122.397194
          },
          icon: 'http://i.imgur.com/naRwq2I.png',
          map: map
        });

        response.forEach(function(item) {
          var row = document.getElementById('row' + item.id)
          var total = $(row).children('.totalBeds').text()
          var open = $(row).children('.open_beds').text()
          var pin;
          if (+open >= 10) {
            pin = item.green
          } else {
            pin = item.red
          }
          window.map = map;
          var mark = new google.maps.Marker(
            {
              position:{
                lat:item.lat,
                lng:item.lon
              },
              // label: item.letter,
              icon: pin,
              map:map,
            })
        });
      })
      .fail(function(error) {
        console.log(error)
      });
      }

      function calculateAndDisplayRoute(directionsService, directionsDisplay, end, div) {
        directionsDisplay.setPanel(document.getElementById(div));

        var start = "2ndSt&FolsomSt";

        directionsService.route({
          origin: start,
          destination: end,
          travelMode: 'TRANSIT'
        }, function(response, status) {
          if (status === 'OK') {
            directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }

      function calculateAndDisplayRoute2(directionsService, directionsDisplay, end, div) {
        directionsDisplay.setPanel(document.getElementById(div));

        var start = "2ndSt&FolsomSt";

        directionsService.route({
          origin: start,
          destination: end,
          travelMode: 'TRANSIT'
        }, function(response, status) {
          if (status === 'OK') {
            // console.log(response);
            directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAPS']%>&callback=initMap">
    </script>

<script>

var subKey;

var request = $.ajax({
  url: '/subKey',
  type: 'get'
})
request.done(function(r){

})
request.fail(function(r){
   subKey = r.responseText

  var pubnub = new PubNub({
      subscribeKey: subKey
  });

  pubnub.addListener({
      message: function(message) {
        addMarker(message)
        var td = $('#' + message.message.name)
          td.html(message.message.value)
          var parent = td.parent()
          if (message.message.value >= 10){
            parent.addClass('tdAnimateGreen')
            setTimeout(function(){
              parent.removeClass('tdAnimateGreen')
            }, 3000)
          } else {
            parent.addClass('tdAnimateRed')
            setTimeout(function(){
              parent.removeClass('tdAnimateRed')
            }, 3000)
          }
          styleRows()
      }
  })

  addMarker = function(message){
    var map = window.map
    var item = window.databaseInfo.filter((i) => {
      return i.id === +message.message.name
    })[0]
    console.log(item)
    var row = document.getElementById('row' + item.id)
    var pin;
    var open = message.message.value
    if (+open >= 10) {
      pin = item.green
    } else {
      pin = item.red
    }
    var mark = new google.maps.Marker(
      {
        position:{
          lat:item.lat,
          lng:item.lon
        },
        // label: item.letter,
        icon: pin,
        map:map,
      })

  }

  var styleRows = function() {
    var rows = $('.shelterrow')
    for (var i = 0; i < rows.length; i++){
      var total = $(rows[i]).children('.totalBeds')[0]
      total = $(total).text()
      var avail = $(rows[i]).children('.open_beds')[0]
      avail = $(avail).text()
      if (+avail >= 10){
        $(rows[i]).css('background', '#62ef77')
      } else {
        $(rows[i]).css('background', '#f75d4c')
      }
    }
  }

  styleRows()

  pubnub.subscribe({
      channels: ['tic-tac-toe']
  });

})

</script>
