<h1>Shelters</h1>

<table>
  <thead>
    <tr>
      <th>Shelter Name</th>
      <th>Location</th>
      <th>Route</th>
      <th>Total Beds</th>
      <th>Open Beds</th>
    </tr>
  </thead>

  <tbody>
    <% count = 0 %>
    <% @shelters.each do |shelter| %>
      <tr class='shelterrow'>
        <td><%= shelter.name %></td>
        <td><%= shelter.location %></td>
        <td>
          <div id = "directions<%= +count.to_s%>"></div>
          <% count+=1 %>
        </td>
        <td><%= shelter.total_beds %></td>
        <td id=<%= "#{shelter.id}" %>><%= shelter.open_beds %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
    <div id="map"></div>
    <div id="map2"></div>
    <div id="map3"></div>
    <div id="map4"></div>
    <div id="map5"></div>
    <div id="map6"></div>
    <script>
      function initMap() {
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var directionsService = new google.maps.DirectionsService;
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: {lat: 37.47, lng: -122.25}
        });
        calculateAndDisplayRoute(directionsService, directionsDisplay, "150GoldenGateAve", 'directions0');
        initMap2();
      }
      function initMap2() {
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var directionsService = new google.maps.DirectionsService;
        var map = new google.maps.Map(document.getElementById('map2'), {
          zoom: 12,
          center: {lat: 37.47, lng: -122.25}
        });
        calculateAndDisplayRoute(directionsService, directionsDisplay, "237KearnySt", 'directions1');
        initMap3();
      }
      function initMap3() {
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var directionsService = new google.maps.DirectionsService;
        var map = new google.maps.Map(document.getElementById('map3'), {
          zoom: 12,
          center: {lat: 37.47, lng: -122.25}
        });
        calculateAndDisplayRoute(directionsService, directionsDisplay, "525FifththSt", 'directions2');
        initMap4();
      }
      function initMap4() {
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var directionsService = new google.maps.DirectionsService;
        var map = new google.maps.Map(document.getElementById('map4'), {
          zoom: 12,
          center: {lat: 37.47, lng: -122.25}
        });
        calculateAndDisplayRoute(directionsService, directionsDisplay, "165EighththSt", 'directions3');
        initMap5();
      }
      function initMap5() {
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var directionsService = new google.maps.DirectionsService;
        var map = new google.maps.Map(document.getElementById('map5'), {
          zoom: 12,
          center: {lat: 37.47, lng: -122.25}
        });
        calculateAndDisplayRoute(directionsService, directionsDisplay, "126HydeSt", 'directions4');
        initMap6();
      }
      function initMap6() {
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var directionsService = new google.maps.DirectionsService;
        var map = new google.maps.Map(document.getElementById('map6'), {
          zoom: 12,
          center: {lat: 37.47, lng: -122.25}
        });
        calculateAndDisplayRoute(directionsService, directionsDisplay, "701SutterSt", 'directions5');
      }

      function calculateAndDisplayRoute(directionsService, directionsDisplay, end, div) {
        console.log(div);
        console.log(end)
        directionsDisplay.setPanel(document.getElementById(div));

        var start = "2ndSt&FolsomSt";

        directionsService.route({
          origin: start,
          destination: end,
          travelMode: 'TRANSIT'
        }, function(response, status) {
          if (status === 'OK') {
            directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }

      function calculateAndDisplayRoute2(directionsService, directionsDisplay, end, div) {
        console.log(div);
        console.log(end)
        directionsDisplay.setPanel(document.getElementById(div));

        var start = "2ndSt&FolsomSt";

        directionsService.route({
          origin: start,
          destination: end,
          travelMode: 'TRANSIT'
        }, function(response, status) {
          if (status === 'OK') {
            // console.log(response);
            directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }


    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAPS']%>&callback=initMap">
    </script>

<script>
var pubnub = new PubNub({
    subscribeKey: "<%= ENV['PUBNUB_SUB'] %>"
});


pubnub.addListener({
    message: function(message) {
      var td = $('#' + message.message.name)
        td.html(message.message.value)
        td.css('background', 'red')

        setTimeout(function(){
          td.css('transition', 'background 5s')
          td.css('background', 'white')
          setTimeout(function(){
            td.css('transition', 'none')
          }, 5000)
        }, 0)

    }
})

pubnub.subscribe({
    channels: ['tic-tac-toe']
});

</script>


