<h1>Admin page</h1>

<table>
  <% @shelters.each do |shelter| %>
    <tr>
      <form id=<%= shelter.id %> class='shelterrow'>
        <td><%= shelter.name %></td>
        <td>
          <input type='text' id=<%= "#{shelter.id}input" %> value=<%= shelter.open_beds %>
        </td>
        <td>
          <input type='submit'>
        </td>
      </form>
    </tr>
  <% end %>
</table>


<script>
console.log(<%= ENV['PUBNUB_SUB'] %>)
var pubnub = new PubNub({

    subscribeKey: <%= ENV['PUBNUB_SUB'] %>, // always required
    publishKey: <%= ENV['PUBNUB_PUB'] %> // only required if publishing
});


var buttons = $('.shelterrow')

for (var i = 0; i < buttons.length; i++){
  var form = $(buttons[i])
  $(form).on('submit', function(e){
    e.preventDefault()
    var id = $($(this)).attr('id')
    console.log(id)
    var publishVal = $('#' + id + 'input').val()

    pubnub.publish(
    {
        message: {
            name: id,
            value: publishVal
        },
        channel: 'tic-tac-toe'
    }
);


  })
}






</script>
