<%= link_to 'To Shelters', shelter_index_path %>

<div id='kitchen-container'>
  <h1>Kitchens</h1>

  <table id='indexTable2' cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>Location</th>
        <th>Times Open</th>
      </tr>
    </thead>

    <tbody>
      <% @kitchens.each do |kitchen| %>
        <tr class='kitchenrow indexRow'>
          <td><%= kitchen.letter %></td>
          <td><%= kitchen.name %></td>
          <td><%= kitchen.location %></td>
          <td class='timesOpen center'><%= kitchen.time %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
      <div id="map"></div>
      <script>

        $.ajax({
          url: "/gmarkers2",
          type: "get"
        })
        .done(function(response){
          console.log(response)
          response.forEach(function(item) {
            var mark = new google.maps.Marker(
              {
                position:{
                  lat:item.lat,
                  lng:item.lon
                },
                label: item.letter,
                map:map
              })
          });
        })
        .fail(function(error) {
          console.log(error)
        });

        var map;

        function initMap() {
          var uluru = {lat: 37.784517, lng: -122.405};
          map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: uluru
          });
        }
      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAPS']%>&callback=initMap">
      </script>
</div>
