<%= link_to 'To Shelters', shelter_index_path %>

<div id='kitchen-container'>
  <div class="info">
    <h1 class="title">Kitchens</h1>

    <table id='indexTable2' cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Location</th>
          <th>Times Open</th>
        </tr>
      </thead>

      <tbody>
        <% count = 0 %>
        <% @kitchens.each do |kitchen| %>
          <tr class='kitchenrow indexRow'>
            <td><img src='<%= kitchen.symbol %>'></img></td>

            <td>&nbsp;&nbsp;<%= kitchen.name %></td>
            <td><%= kitchen.location %></td>
            <td class='timesOpen center'><%= kitchen.time %></td>
          </tr>
          <tr>
            <td class="atob" colspan="4">
              <div id = "directions<%= +count.to_s%>"></div>
              <% count+=1 %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>

      <div id="map"></div>
      <script>

        var map;

        function initMap() {
          var directionsDisplay = new google.maps.DirectionsRenderer;
          var directionsService = new google.maps.DirectionsService;
          var uluru = {lat: 37.784517, lng: -122.405};
          map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: uluru
          });
          calculateAndDisplayRoute(directionsService, directionsDisplay, "150GoldenGateAve", 'directions0');

        initMap2();
      }
      function initMap2() {
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var directionsService = new google.maps.DirectionsService;
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: {lat: 37.78784517, lng: -122.405}
        });
        calculateAndDisplayRoute(directionsService, directionsDisplay, "900PennsylvaniaAve", 'directions1');
        initMap3();
      }
      function initMap3() {
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var directionsService = new google.maps.DirectionsService;
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: {lat: 37.78784517, lng: -122.405}
        });
        calculateAndDisplayRoute(directionsService, directionsDisplay, "1504BryantSt", 'directions2');
        initMap4();
      }
      function initMap4() {
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var directionsService = new google.maps.DirectionsService;
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: {lat: 37.78784517, lng: -122.405}
        });
        calculateAndDisplayRoute(directionsService, directionsDisplay, "730PolkSt", 'directions3');
        initMap5();
      }
      function initMap5() {
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var directionsService = new google.maps.DirectionsService;
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: {lat: 37.78784517, lng: -122.405}
        });
        calculateAndDisplayRoute(directionsService, directionsDisplay, "221SeventhSt", 'directions4');
        initMap6();
      }
      function initMap6() {
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var directionsService = new google.maps.DirectionsService;
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: {lat: 37.78784517, lng: -122.405}
        });
        calculateAndDisplayRoute(directionsService, directionsDisplay, "330EllisSt", 'directions5');
        $.ajax({
          url: "/gmarkers2",
          type: "get"
        })
        .done(function(response){
          console.log(response)
          response.forEach(function(item) {
            var mark = new google.maps.Marker(
              {
                position:{
                  lat:item.lat,
                  lng:item.lon
                },
                label: item.letter,
                map:map
              })
          });
        })
        .fail(function(error) {
          console.log(error)
        });
        }
        function calculateAndDisplayRoute(directionsService, directionsDisplay, end, div) {
        console.log(div);
        console.log(end)
        directionsDisplay.setPanel(document.getElementById(div));

        var start = "2ndSt&FolsomSt";

        directionsService.route({
          origin: start,
          destination: end,
          travelMode: 'TRANSIT'
        }, function(response, status) {
          if (status === 'OK') {
            directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }
      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAPS']%>&callback=initMap">
      </script>
</div>
